.vscode/**
.github/**
ci/**
docs/**
test/**
src/**
node_modules/**
.git/**
.gitignore
.gitmodules
.hintrc
.prettierignore
eslint.config.mjs
make.sh
webpack.config.js
tsconfig.json
yarn.lock
*.map
AGENTS.md
CLAUDE.md
